{% extends "layout.html" %}

{% block title %}Add Item{% endblock %}

{% block content %}
<section>
    <form action="{{ url_for('add_item', wishlist_id=id) }}" method="POST">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
    
        <label for="price">Price:</label>
        <input type="text" id="price" name="price" required>
    
        <label for="link">Link:</label>
        <input type="url" id="link" name="link">
    
        <label for="notes">Notes (optional):</label>
        <textarea id="notes" name="notes"></textarea>
    
        <label for="photo">Photo (optional):</label>
        <input type="file" id="photo" name="photo" accept="image/*">
    
        <button type="submit">Add Item</button>
    </form>
    
</section>
{% endblock %}